name: check upstream
on:
  schedule:
    - cron:  '0 10 * * *'

jobs:
  get-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch release version
        run: |
          curl -sL https://api.github.com/repos/structurizr/cli/releases/latest | \
          jq -r ".tag_name" > structurizr-cli-latest.txt

      - name: Check for modified files
        id: git-check
        run: echo ::set-output name=modified::$([ -z "`git status --porcelain`" ] && echo "false" || echo "true")

      - name: Create Pull Request
        if: steps.git-check.outputs.modified == 'true'
        uses: peter-evans/create-pull-request@v3.6.0
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: "feat(structurizr-cli): bump the version"
            title: Update upstream version
            body: |
              - Dependency updates
            branch: dev
            base: main
            committer: GitHub <noreply@github.com>
            author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
            assignees: aidmax
            reviewers: aidmax
            labels: |
              bump_upstream_version
              automated_pr

